/.idea/
/app/config/parameters.yml
/app/bootstrap.php.cache
/app/cache/*
/app/logs/*
/app/data/*
!app/data/.gitkeep
!app/cache/.gitkeep
!app/logs/.gitkeep
/build/
/vendor/
/bin/*
!bin/build_db
/composer.phar
